{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}


{% block content %}

<p>
    Here are a number of descriptions that may or may not apply to you.
    Please indicate the extent to which you agree or disagree with that statement on a scale of 1 (strongly disagree) to
    7 (strongly agree).
</p>
<p>
    You should rate the extent to which the pair of traits applies to you,
    even if one characteristic applies more strongly than the other.
</p>

<hr>
<div class="container" style="alignment:center">
    <div class="row">
        <div class="col-sm-6">
            I consider my self as...
        </div>
        <div class="col-sm-1">
            Strongly disagree
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-1">
            Strongly agree
        </div>
    </div>
    <hr>

    {% for field in form %}
    <div class="row">
        <div class="col-sm-6">
            {{ field.label }}
        </div>
        <div class="col-sm-6">
            {{ field }}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>


<div style="text-align:right">
    {% next_button %}
</div>

{% endblock %}